@model AramAnalyzer.Code.MatchReport

@{
	ViewData["Title"] = "Analysis";
}

<div class="text-center">
	<h1 class="display-4">Game analysis</h1>
	<p>Analyze your ARAM games.</p>
	<p>@ViewData["Name"]</p>
	<p>@ViewData["Region"]</p>
	<p>@Model.BlueAverageWinrate</p>
</div>