@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Aram Analyzer</h1>
	<p>Analyze your ARAM games.</p>

	<div id="summary_area" class="container">
		<div class="text-center">
			<h3 class="display-4">Summary</h3>
		</div>
	</div>

	<div id="analysis_area" class="container">

		<div class="text-center">
			<h3 class="display-4">Champions</h3>
		</div>

		<div id="blue_champions" class="container" style="border-style:solid; border-color:black; border-width:1px; display: inline-block; width:500px; margin: 0 10px 0 10px">
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
		</div>

		<div id="red_champions" class="container" style="border-style:solid; border-color:black; border-width:1px; display: inline-block; width:500px; margin: 0 10px 0 10px">
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
		</div>

		<div class="text-center">
			<h4 class="display-4">Teamcomps</h4>
		</div>

		<div id="blue_teamcomp" class="container" style="border-style:solid; border-color:black; border-width:1px; display: inline-block; width:500px; margin: 0 10px 0 10px">
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>

			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
		</div>

		<div id="red_teamcomp" class="container" style="border-style:solid; border-color:black; border-width:1px; display: inline-block; width:500px; margin: 0 10px 0 10px">
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>

			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-8 col-md-8" style="border-style:solid; border-color:black; border-width:1px">
				</div>

				<div class="col-lg-2 col-md-2" style="border-style:solid; border-color:black; border-width:1px">
				</div>
			</div>
		</div>
	</div>
</div>