@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Aram Analyzer</h1>
	<p>Analyze your ARAM games.</p>
	
	<p>Type in your name, choose your server and press Search to get your game's analysis!</p>
	<p>You can also choose whether to use Platinum+ or All Ranks (Iron+) winrates in the analysis.</p>
</div>