@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	@*<h1 class="display-4">Aram Analyzer</h1>
		<p>Analyze your ARAM games.</p>*@

	<div id="summary_area" class="container">
		<div class="text-center">
			<h3 class="display-4">Summary</h3>
		</div>
		<div id="summary_info" class="container" style="display: inline-block; width:500px; margin: 10px 0 30px 0">
			<p>PlayerName is on Blue team</p>
			<p>Blue team's champions are better by 500 points </p>
			<p>Red team's champions is better by 500 points</p>
		</div>
	</div>

	<hr class="solid" style="border-top: 2px solid #bbb;">

	<div id="analysis_area" class="container">

		<div class="text-center">
			<h3 class="display-4">Champions</h3>
		</div>

		<div id="blue_champions" class="container blueBorder" style="display: inline-block; width: 500px; margin: 10px 10px 30px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Champion name</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage dealt</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage received</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Alistar</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">50.3%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+5%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-12%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Akali</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">38%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+200%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-500%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Qiyana</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">70%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+400%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-400%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Ashe</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">58%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-15%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+30%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Kha'Zix</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">62%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+10%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-15%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">Average winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">60.2%</p>
				</div>

				<div class="col-lg-4 col-md-4 gridCell" style="height:50px;">
				</div>
			</div>
		</div>

		<div id="red_champions" class="container redBorder" style="display: inline-block; width:500px; margin: 10px 10px 30px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Champion name</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage dealt</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px;">
					<p class="gridParagraph boldText">Damage received</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Alistar</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">50.3%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+5%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-12%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Akali</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">38%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+200%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-500%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Qiyana</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">70%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+400%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-400%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Ashe</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">58%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-15%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+30%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph">Kha'Zix</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">62%</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">+10%</p>
				</div>
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph">-15%</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-6 col-md-6 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">Average winrate</p>
				</div>

				<div class="col-lg-2 col-md-2 gridCell" style="height:50px;">
					<p class="gridParagraph boldText">60.2%</p>
				</div>

				<div class="col-lg-4 col-md-4 gridCell" style="height:50px;">
				</div>
			</div>
		</div>

		<hr class="solid" style="border-top: 2px solid #bbb;">

		<div class="text-center">
			<h4 class="display-4">Teamcomps</h4>
		</div>

		<div id="blue_teamcomp" class="container blueBorder" style="display: inline-block; width:500px; margin: 10px 10px 10px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Quantity</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp group name</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp points</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">1x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">ADC</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+130</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Assassin</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+300</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">2x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Battle Caster</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">-180</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">1x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Poke Caster</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+650</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Burst Caster</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+100</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Bruiser Diver</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">-10</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Bruiser Juggernaut</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">-160</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Protector Tank</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+300</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Engage Tank</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+141</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Catcher</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+150</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">1x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Healer</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+540</p>
				</div>
			</div>

			<div class="row" style="height:50px">
				<div class="col-lg-9 col-md-9 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">Total teamcomp points</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">+103213</p>
				</div>
			</div>
		</div>

		<div id="red_teamcomp" class="container redBorder" style="display: inline-block; width:500px; margin: 10px 10px 10px 10px">
			<div class="row" style="height:70px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Quantity</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp group name</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:70px; ">
					<p class="gridParagraph boldText">Teamcomp points</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">1x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">ADC</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+130</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Assassin</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+300</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">2x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Battle Caster</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">-180</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">1x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Poke Caster</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+650</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Burst Caster</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+100</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Bruiser Diver</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">-10</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Bruiser Juggernaut</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">-160</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Protector Tank</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+300</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Engage Tank</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+141</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">0x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Catcher</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+150</p>
				</div>
			</div>
			<div class="row" style="height:50px">
				<div class="col-lg-2 col-md-2 gridCell" style="height:50px; ">
					<p class="gridParagraph">1x</p>
				</div>

				<div class="col-lg-7 col-md-7 gridCell" style="height:50px; ">
					<p class="gridParagraph">Healer</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph">+540</p>
				</div>
			</div>

			<div class="row" style="height:50px">
				<div class="col-lg-9 col-md-9 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">Total teamcomp points</p>
				</div>

				<div class="col-lg-3 col-md-3 gridCell" style="height:50px; ">
					<p class="gridParagraph boldText">+103213</p>
				</div>
			</div>
		</div>
	</div>
</div>